@font-face {
    font-family: 'SF-Pro-Rounded-Regular';
    src: url(./assets/SF-Pro-Rounded-Regular.otf) format('opentype');
}

:root{
    --pink: #f18896;
    --red: #e50809;
    --white: #FFEFEF;
    --lightpink: #FFCFCF;


}

html {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
*, *::before, *::after {
    box-sizing: inherit;
}



body{ 
    background-color:var(--red);
    background-image: linear-gradient(0deg, rgba(241,136,150,1) 0%, rgba(229,8,9,1) 100%);
    height: 100vh;
    font-family: 'SF-Pro-Rounded-Regular';
    margin: 0;
    padding: 0;
    transition: .5s ease-in-out;
}

h1{
    font-size: 3vw;
    color: var(--lightpink);
    text-align: center;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: bold;
}

h1 span{
    color: var(--white);
    font-size: 7vw;

}



.scan{
    background-color: var(--lightpink);
    width: fit-content;
    padding: 1vw;
    display: flex;
    justify-content: center;
    justify-self: center;
    flex-flow: column;

    border-radius: 1vw;
    margin: 0 auto;

    margin-top: 10vh;
}

.scan a{
    text-decoration: none;
    color: var(--red);
    font-weight: bold;
    font-size: 4vw;
    text-transform: uppercase;
}

.scan p{
    margin-top: 10%;
    text-align: center;
}

.status{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
    margin-top: 10vh;
    padding: 3vw;

    position: absolute;
    bottom: 5vh;
}

.status p{
    font-size: 2vw;
    color: var(--lightpink);
    font-weight: bold;
}

.dilemma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 10vh;
}

.dilemma input{
    width: 60vw;
    height: 5vh;
    font-size: 2vh;
    text-align: left;
    border-radius: 5vw;
    padding-left: 2vh;
    padding-right: 2vh;
    border: none;
    background-color: var(--lightpink);
    color: var(--red);
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s ease-in-out;

}

.dilemma input::placeholder{
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

.dilemma input:focus{
    outline: none;
    /* make the background white */
    background-color: var(--white);

}



.dilemma p{
    font-size: 10vh;
    color: var(--white);
    font-weight: bold;
    margin: 5vh;
    text-transform: uppercase;

}

.buttons{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    justify-self: center;
    width: 60vw;
    margin-top: 10vh;
}

.buttons button{
    width: 100%;
    height: 10vh;
    font-size: 3vh;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--red);
    background-color: var(--lightpink);
    border: none;
    border-radius: 5vw;
    margin-top: 2vh;
    transition: .3s ease-in-out;
}

.buttons :nth-child(1){
    background-color: var(--red);
    color: var(--lightpink);
}

.waiting{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    color: var(--white);
}

.options{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    width: 100%;
    margin-top: 10vh;
    padding: 3vw;
}

.options p{
    width: 50%;
    text-align: center;
}

.options .option1{
    color: var(--red);

}

.options .option2{
    color: var(--pink);
}

.options-remote{
    display: none;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100vw;
    height: 100%;
    padding: 10%;
}

.options-remote p{
    width: 50%;
    text-align: center;
    font-size: 5vw;
    color: var(--white);
    text-transform: uppercase;

}

.vertical-line{
    border-left: 2px solid var(--white);
    height: 100%;
    margin: 0 auto;

}
.votes{
    display: flex;
    justify-content: space-around;
}

.votes p{
    font-size: 5vw;
    color: var(--white);
    font-weight: bold;
    text-align: center;
    width: 50%;
}

.btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next_btn{
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    background-color: var(--lightpink);
    color: var(--red);
    border: none;
    border-radius: 5vw;
    padding: 2vh;
    margin-top: -50vh;
    width: 20vw;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
}




@media screen and (max-width: 600px){
    h1{
        font-size: 10vw;
    }

    h1 span{
        font-size: 15vw;
    }
    
}

